---
layout: index
title: The Cromulent Testing Blog
subtitle: It's a perfectly cromulent blog
---
<!--<div class="content-group"></div>-->
<!--<div class="content-group"></div>-->

<div class="content-group">
  <p>What we're currently talking about:</p>
  <a style="" class="" href="{{ site.posts[0].url }}">
    <p style="font-size: 2.0em; text-align: left;">"{{ site.posts.first.title }}"</p>
  </a>
</div>
<!--<div class="" style="border-bottom: 1px dotted black; width: 60%; margin-left: 0%;"></div>-->

<!--<div class="content-group"></div>-->

<ul class="archive">
  <p>Previously on the cromulent testing blog:</p>
<!--  {% capture first_year  %}{{ 'yes' }}{% endcapture %}-->
<!--  {% capture first_month  %}{{ 'yes' }}{% endcapture %}-->
  
  {% for post in site.posts %}
    {% if forloop.first == false %}
      
      {% capture year  %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture month  %}{{ post.date | date: '%B' }}{% endcapture %}
      {% capture cyear %}{{ 'now' | date: '%Y' }}{% endcapture %}
      {% capture cmonth %}{{ 'now' | date: '%B' }}{% endcapture %}
<!--      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}-->
<!--      {% capture nmonth %}{{ post.next.date | date: '%B' }}{% endcapture %}-->
      {% if year <= cyear %}
        {% if month <= cmonth %}
    <li>
      <a href="{{ post.url }}">{{ post.title }} - 
        <span class="month-first subscript">{{ post.date | date: '%B' }}</span>
        <span class="day subscript">{{ post.date | date:"%d" }},</span>
        <span class="year-first subscript">{{ post.date | date: '%Y' }}</span>
      </a>
    </li>
        {% endif %}
      {% endif %}

<!--      {% if year <= cyear %}-->
<!--        {% if month <= cmonth %}-->
<!--            <span class="day subscript">{{ post.date | date:"%d" }}</span>-->
<!--        {% endif %}-->
<!--      {% endif %}-->

<!--      {% unless post.next %}-->
<!--        {% if month <= cmonth %}-->
<!--          <span class="month subscript">{{ post.date | date: '%B' }}</span>-->
<!--        {% endif %}-->
<!--        {% if year <= cyear %}-->
<!--          <span class="year subscript">{{ post.date | date: '%Y' }}</span>-->
<!--        {% endif %}-->
<!--      {% else %}
        {% if month <= cmonth %}
          {% if month != nmonth or forloop.last %}
            {% if first_month == 'yes' %}
              <span class="month-first subscript">{{ post.date | date: '%B' }}</span>
              {% capture first_month %}{{ 'no' }}{% endcapture %}
            {% else %}
              <span class="month subscript">{{ post.date | date: '%B' }}</span>
            {% endif %}
          {% endif %}
        {% endif %}
        {% if year <= cyear %}
          {% if year != nyear or forloop.last %}
            {% if first_year == 'yes' %}
              <span class="year-first subscript">{{ post.date | date: '%Y' }}</span>
              </li>
              {% capture first_year  %}{{ 'no' }}{% endcapture %}
            {% else %}
              <span class="year subscript">{{ post.date | date: '%Y' }}</span>
              </li>
            {% endif %}
          {% else %}
            {% if month <= cmonth %}
              {% if month != nmonth or forloop.last %}
                <span class="year-silent subscript">&nbsp;</span>
                </a></li>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endunless %}-->


    
      
    {% endif %}
  {% endfor %}
</ul>