  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{{ page.title}}</title>

  <link rel=”alternate” type="application/atom+xml" title="The Cromulent Testing Blog" href="http://feeds.feedburner.com/CromulentTestingBlog"/>

  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http://www.cromulent-testing.com/{{page.url}}" />
  <meta property="og:description" content="Cromulent Testing. A perfectly cromulent blog about testing." />
  <meta property="og:locale" content="en_AU" />
  <meta property="og:site_name" content="Cromulent Testing" />
  <meta property="article:author", content: "Ryan Boucher" />
  <meta property="article:author", content: "Mike Bain" />
  <meta property="article:author", content: "Ash Rollke" />
  <meta property="article:section", content: "Testing" />
  <meta property="article:tag", content: "cromulent testing,testing,test,quality assurance,qa,agile,agile testing,lean,test automation,automated testing,bugs,exploratory testing, manual testing" />

  <meta name="description" content="Cromulent Testing. A perfectly cromulent blog about testing.">
  <meta name="keywords" content="cromulent testing,testing,test,quality assurance,qa,agile,agile testing,lean,test automation,automated testing,bugs,exploratory testing, manual testing">
  <meta name="author" content="Mike Bain, Ryan Boucher, Ash Rollke">

  <link href="/stylesheets/reset.css" media="screen" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/pygment.css" media="screen" rel="stylesheet" type="text/css"/>
  <link rel="icon" type="image/ico" href="/favicon.ico">

  <link href="http://fonts.googleapis.com/css?family=Anonymous+Pro:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Rock+Salt:regular" rel="stylesheet" type="text/css">
