<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title}}</title>
  <link href="/stylesheets/reset.css" media="screen" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css"/>
  <link rel=”alternate” type="application/atom+xml" title="The Cromulent Testing Blog" href="http://feeds.feedburner.com/CromulentTestingBlog"/>
  <link href="http://fonts.googleapis.com/css?family=Anonymous+Pro:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Rock+Salt:regular" rel="stylesheet" type="text/css">
</head>

<body>
{% include header.html %}

<nav>
{% include authors.html %}
{% include legalese.html %}
</nav>

<div id="articles">
  <article>
    <section id="content">{{ content }}</section>
  </article>
</div>
{% include analytics.html %}
</body>
</html>